/* Layout
================================ */

body {
	padding-top: 50px;
}
.container {
	max-width: 1000px;
}

/* Jumbotron
================================ */

.jumbotron {
  text-align: center;
  padding-bottom: 50px;
}

/* Glyphicons
================================ */

.glyphicon {
	font-size: 3em;
	display: block;
	text-align: center;
	color: #5bc0de;
  border-color: #46b8da;
}


.glyphicon-ok {
  color: #5cb85c;
  border-color: #4cae4c;
}


.glyphicon-remove {
  color: #d9534f;
  border-color: #d43f3a;
}



/* Carousel
================================ */



p {
	text-align: center;
}


h5 {
	text-align: center;
}


#past {
	text-align: center;
}

        #push  {
        height: 120px;
      }