body {
  
}

h1 {
    color: black;
    text-align: center;
    font-family: "helvetica"
}

p {
  font-family: "helvetica";
  font-size: 30px;
  text-align: center;
}

form {
font-family: "helvetica";
  font-size: 20px;
    text-align: center;
}

.button {
 display: inline-block;
 height: 100px;
 width: 300px;
 background: #34696f;
 text-decoration: none;
 color: rgba(0, 0, 0, 0.55);
 text-align: center;
 font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
 
 
a.button:hover {
 background: #3d7a80;
}


.Row
{
    display: table;
    table-layout: fixed;
    border-spacing: 10px;
margin: auto;
    
}
.Column
{
    display: table-cell;
    background-color: red;
}

.group {
    margin: auto;
    width: 60%;
    padding: 10px;
}
p.response {
  font-family: "helvetica";
  font-size: 20px;
  text-align: center;
}
.imghead {
     display: block;
    margin-left: auto;
    margin-right: auto }
}